2- DataWarehouse/BigData/crs-caracteristics/_3f8929e1c08718be89abb79564eb8718_Value-Altintas-Final.pdf
2- DataWarehouse/BigData/crs-caracteristics/_8179e0423f6b9a5be1e4b417d599af11_Volume-Altintas-Final.pdf
2- DataWarehouse/BigData/crs-caracteristics/_d53d5a9219380db0ab734c0146d58565_CharacteristicsOfBigData-Altintas-Final.pdf
2- DataWarehouse/BigData/crs-caracteristics/_abb29b4792cf5395e339e702bc3ac465_Veracity-Altintas-Final.pdf
2- DataWarehouse/BigData/crs-caracteristics/_6818b4e946bc851d037eeaa8495c371e_Scalability-Valence.pdf
2- DataWarehouse/BigData/crs-caracteristics/_a549bfcce5b0d17e50f74ac152b901d7_Scalability-Variety.pdf
2- DataWarehouse/BigData/crs-caracteristics/_c34394cebbf7e574fa337e8121edbeb5_Velocity-Altintas-Final.pdf